<h1>Dashboard</h1>
<p>Welcome to back to Patient Data Management System.</p>

<div class="container mt-3">

  <!-- Patients Data Table -->
  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Patients Data</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Health ID</th>
                  <th>HID Province</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Address Province</th>
                  <th>Address City</th>
                  <th>Age</th>
                  <th>Sex</th>
                </tr>
              </thead>
              <tbody>
                <% @patients.each do |patient| %>
                  <tr>
                    <td><%= patient.health_identifier %></td>
                    <td><%= patient.health_identifier_province %></td>
                    <td><%= patient.name %></td>
                    <td><%= patient.phone %></td>
                    <td><%= patient.email %></td>
                    <td><%= patient.address_province %></td>
                    <td><%= patient.address_city %></td>
                    <td><%= patient.age %></td>
                    <td><%= patient.sex %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <%= will_paginate @patients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>

  <div class="row">
    <!-- Total Patients Card -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Patients</h5>
          <p class="card-text"><%= @total_patients %></p>
        </div>
      </div>
    </div>

    <!-- Gender Distribution Pie Chart -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gender Distribution</h5>
          <%= pie_chart @gender_distribution %>
        </div>
      </div>
    </div>
  </div>

  <!-- Age Distribution Bar Chart -->
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Age Distribution</h5>
          <%= line_chart @age_distribution, xtitle: "Age", ytitle: "Count", colors: ['orange'], xmin: 30, xmax: 50 %>
        </div>
      </div>
    </div>
  </div>

  <!-- Location Distribution Heatmap -->
  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Location Distribution</h5>
          <%= column_chart @location_distribution, xtitle: "Province", ytitle: "Count" %>
        </div>
      </div>
    </div>
  </div>
</div>
